.card {
  @include utils.fluid(15px, 40px, padding);
  @include utils.fluid(10px, 25px, border-top-right-radius);
  @include utils.fluid(10px, 25px, border-bottom-left-radius);

  display: flex;
  flex-direction: column;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: utils.$gray;
  box-shadow: 0 0 24 rgba(0, 0, 0, 0.25);
  border: 2px solid utils.$light;
  color: utils.$text;
  justify-content: center;
  backdrop-filter: blur(0);
  overflow: hidden;
  transition: all 200ms;

  &-title {
    margin-bottom: 10px;
  }

  .btn {
    margin-top: 10px;
  }

  &::before {
    content: attr(data-shadow-title);
    position: absolute;
    left: 10px;
    z-index: -1;
    opacity: 0;
    transition: opacity 150ms, text-shadow 300ms;
    font-size: 500%;
    font-weight: bolder;
    font-family: utils.$font-primary;
    color: utils.$dark;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.2);

    &,
    .btn {
      color: utils.$light;
    }

    &::before {
      opacity: 0.16;
      color: transparent;
      text-shadow: 0 0 5px utils.$dark;
    }
  }
}
