@use "variables" as v;

/**
 * Helper to create fluid values to font sizes
 * Author: https://css-tricks.com/snippets/css/fluid-typography/
 */

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid($min, $max, $prop: font-size, $min-vw: v.$screen-sm, $max-vw: v.$screen-max) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min);
  $u4: unit($max);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      #{$prop}: $min;
      @media screen and (min-width: $min-vw) {
        #{$prop}: calc(#{$min} + #{strip-unit($max - $min)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        #{$prop}: $max;
      }
    }
  }
}
