// Container & grid
$container: 1240px;

// Media Queries
$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-max: 1920px;

// Gutter
$gutter: 40px;

/**
 * Colors
 */

// Base
$light: #ffffff;
$dark: #200046;

// Text colors
$text: #270010;

// Grays
$gray: #FFDEE0;

// Brand colors
$color-primary: #BF0102;
$color-secondary: #4D00AE;
$color-tertiary: #1A003A;

// Families
$font-primary: "Manrope", sans-serif;
