html,
body {
  font-family: utils.$font-primary;
  background-color: utils.$dark;
}

body {
  padding-left: 10px;
  padding-right: 10px;

  @media screen and (min-width: utils.$screen-lg) {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
}

.container {
  max-width: utils.$container;
  margin-left: auto;
  margin-right: auto;
}
