.heading-1,
.heading-2 {
  font-weight: 300;
}

.heading-1 {
  @include utils.fluid(30px, 56px);

  line-height: 1.25;
}

.heading-2 {
  @include utils.fluid(18px, 30px);
}

.text {
  @include utils.fluid(14px, 16px);

  line-height: 1.8;
}

.text-small {
  @include utils.fluid(11px, 13px);
}
